.header-admin{
    font-size: 50px;
}
.users{
    background-color: #adb5bd;
    border-radius: 25px;
    margin-left:50px;
    margin-right: 50px;
    display:flex;
    align-items: center;
    align-items: stretch;
    padding-left: 2%;
    padding-right:2%;
}
.ad-container{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}