@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
    font-family: 'Comfortaa', sans-serif;
}

.main {
    
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(87,134,126);
background: linear-gradient(123deg, rgba(87,134,126,1) 0%, rgba(116,138,143,1) 53%, rgba(30,43,43,1) 100%);
    border-radius: 6px;
}
.heading {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
}
table{
    width: 50vw;
}
.headin {
    color: #ffffff;
    margin-left: 10rem;

}
.table-input input{
    width: 20rem;
    height: 3.5rem;
    margin-left: 5rem;
    margin-bottom: 1.8rem;
    margin-top: 2rem;
    border-radius: 25px;
    border: 1px solid white;
    background-color: #212529;
    font-weight: 600;
    color: white;
    font-size: larger;
    padding-left: 10%;
}
input:hover{
    
    cursor: pointer;
}
.arrow{
    margin-top: 2rem;
    cursor: pointer;
}
.link{
    cursor: pointer;
}


 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
