@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
*{
    font-family: 'Comfortaa', sans-serif;
}
.main{
    background-color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(87,134,126);
background: linear-gradient(123deg, rgba(87,134,126,1) 0%, rgba(116,138,143,1) 53%, rgba(30,43,43,1) 100%);
}

.question{
    margin-top: 5rem;
    font-size: larger;
    font-weight: 500;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.page_direction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*  */
    text-align: center;     
    margin-left: 5%;
    margin-right:5%;
  transition: 500ms;
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  border-radius: 25px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      z-index: 4;
      transition: 500ms;
}

.bgs{
    background-color: rgb(228, 233, 238);
    color: #343a40;
}

.prevbutton{
    cursor: pointer;
    float: right;
    font-size: 50px;
}

.answers{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
   
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 65%;
    flex-wrap: wrap;
    margin-left: 10%;

}
.heading{
    font-size: 3rem;
  font-weight: bold;
  color: #8d8585;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.answers Button{
    width:350px
}

.textarea{
    padding-left: 1rem;
    padding-top: 1rem;
    width: 45rem;
    margin-top: 2rem;
    height: 6rem;
    margin-bottom: 1rem;
}
.prev-container{
    display: flex;
    justify-content: flex-end ;
    min-width: 95%;
    top: 15%;
    position: relative;
}



@media only screen and (max-width: 767px) {
    .textarea{
        width: 80vw;
        margin-left: 2rem;
    }
    .submit2{
        margin-left: 12rem;
    }
}
