#signup-container{
    text-align: center;     
    margin-left: 25%;
    margin-right:25%;
  transition: 500ms;
  backdrop-filter: blur(2px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  border-radius: 25px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      z-index: 4;
      transition: 500ms;
}